body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: 0b1220;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
}

.total {
    font-size: 26px;
    font-weight: bold;
    color: #ff7900;
    margin: 20px 0;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff7900;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e56d00;
    transform: scale(1.03);
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}