body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: 0b1220;
}
.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.card h1 {
    margin-bottom: 10px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: #ff7900;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff7900;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e56d00;
    transform: scale(1.03);
}

.login-message {
    color: red;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}